* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbaar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  padding-left: 60px;
  padding-right: 60px;
  height: 100px;
}
.logo img {
  height: 60px;
}
.headbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
  font-weight: bold;
}
.headbar ul li a {
  text-decoration: none;
  color: black;
}

.rightbar h1 {
  font-size: 20px;
}
.rightbar h2,
h3 {
  color: #0d982b;
}
.rightbar h2 {
  font-size: 20px;
}
.drop ul {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: center;
  font-size: 15px;
  align-items: center;
  padding: 10px 20px;
}
.drop ul li a {
  text-decoration: none;
  color: black;
}
.drop {
  height: 40px;
  backdrop-filter: contrast(0.5);
  align-items: center;
}
.hero {
  background-image: url("https://gpmigration.com/images/course-3-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 40px;
}
.hero-text {
  max-width: 50%;
}

.hero-text h3 {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  margin-bottom: 1.2em;
}

.hero-text h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1;
}

.hero-text ul {
  list-style: disc inside;
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.hero-text a {
  display: inline-block;
  margin-top: 20px;
  margin-left: 25px;
  padding: 15px 22px;
  background: #00b140;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
}

.hero-form {
  background: white;
  color: black;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.hero-form h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.hero-form p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.hero-form input,
.hero-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #d8d6d6;
  border-radius: 5px;
}

.hero-form button {
  padding: 15px;
  background: #00b140;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
.aboutsection h1 a {
  color: rgb(98, 97, 97);
  font-size: 18px;
  padding-left: 45px;
}
.aboutsection h2 {
  padding-left: 45px;
}
.aboutsection span {
  font-size: 18px;
  font-weight: bold;
}
.aboutsection p1 {
  padding-left: 45px;
  padding-right: 20px;
  display: block;
  font-size: 19px;
  padding-top: 10px;
}
.aboutsection p2 {
  padding-left: 45px;
  padding-right: 20px;
  display: block;
  font-size: 19px;
  padding-top: 20px;
}
.section h1 {
  text-align: center;
  padding-top: 60px;
  color: rgb(118, 118, 118);
  font-size: 15px;
  font-weight: normal;
  text-decoration: underline;
}
.section h2 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 30px;
  width: 540px;
  margin: auto;
}
.boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  text-align: center;
  padding: 0 20px 0 20px;
}
.box {
  height: 500px;
}
.box1 {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.box2 {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.box3 {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.box4 {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.box5 {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.boxes img {
  height: 150px;
  width: 180px;
}
.boxes h3 {
  color: black;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 20px;
}
.boxes a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 17px;
}
.boxes p {
  color: black;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.anchor {
  text-align: center;
  margin: 60px 0;
}
.anchor a {
  text-decoration: none;
  color: white;
  background: #00b140;
  padding: 10px 20px;
}
.main1 {
  background-image: url(https://pioverseas.com/wp-content/uploads/2022/06/scholarship-bg.png);
  height: 100%;
  width: 100%;
}
.leftimage {
  width: 50%;
  height: 100%;
}
.main1 {
  display: flex;
  color: white;
  gap: 10%;
}
.rightcontent {
  width: 50%;
}
.rightcontent h2 {
  font-size: 28px;
  padding-top: 20px;
  margin: auto;
}
.rightcontent p {
  font-size: 20px;
  padding-top: 20px;
  margin: auto;
  line-height: 1.6;
}
.flags {
  padding-top: 30px;
}
.rightcontent a {
  text-decoration: none;
  color: white;
  background: #00b140;
  padding: 7px 15px;
  margin-top: 50px;
  display: inline-block;
}
.fourdiv {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 40px;
  gap: 30px;
  margin-bottom: 40px;
}
.four {
  padding: 30px 80px;
  border: 1px solid #d8d6d6;
}
.four h2 {
  font-size: 38px;
  font-weight: 500;
  color: #0d982b;
  padding-bottom: 15px;
}
.four p {
  font-size: 18px;
  color: black;
  font-weight: 500;
}
.bottom {
  margin-left: 30px;
  width: 50%;
}
.bottom h1 {
  padding-top: 40px;
  padding-bottom: 10px;
  text-decoration: underline;
  color: rgb(118, 118, 118);
  font-size: 18px;
  font-weight: normal;
}
.bottom h2 {
  padding-bottom: 30px;
  font-size: 20px;
}
.bottom p {
  padding-bottom: 40px;
  font-size: 18px;
  color: black;
}
.bottom a {
  text-decoration: none;
  color: #00b140;
  padding: 10px 20px;
  margin-bottom: 40px;
  border: 1px solid #00b140;
}
.collegeimages {
  width: 55%;
  gap: 15px;
  margin-left: 16%;
}
.main2 {
  background-image: url(https://pioverseas.com/wp-content/uploads/2022/06/partners-1.png);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.below h1 {
  text-align: center;
  padding-top: 60px;
  color: rgb(118, 118, 118);
  font-size: 15px;
  font-weight: normal;
  text-decoration: underline;
}
.below h2 {
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
}
.review {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 30px;
}
.review h1 {
  font-size: 22px;
  font-weight: 500;
}
.review h2 {
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
}
.review p {
  font-size: 18px;
  line-height: 1.6;
  color: black;
  padding-bottom: 25px;
}
.review1 {
  border: 1px solid #d8d6d6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px;
}
.review2 {
  border: 1px solid #d8d6d6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px;
}
.review3 {
  border: 1px solid #d8d6d6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px;
}
.news {
  padding-top: 60px;
  font-size: 12px;
}
.news h1 {
  margin-bottom: 50px;
  text-align: center;
}
.main3 {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 60px 20px;
  gap: 30px;
}
.news1 {
  width: 50%;
  height: 100%;
  gap: 30px;
  padding-bottom: 60px;
  border: 1px solid #d8d6d6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.news1 h2 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
  padding-left: 25px;
}
.news1 p {
  font-size: 18px;
  line-height: 1.6;
  padding: 0 20px 20px 25px;
}
.news1 a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
}
.news1 img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
.news2 {
  width: 50%;
  height: 220px;
  gap: 30px;
  padding-bottom: 60px;
  border: 1px solid #d8d6d6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
}
.news2text h2 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
}
.news2text p {
  font-size: 18px;
  line-height: 1.6;
  padding-bottom: 20px;
}
.news2text a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
}
.news2 img {
  width: 200px;
  height: 220px;
}
.info {
  width: 30%;
  height: 100%;
  background: #f4f6f9;
  padding-left: 25px;
  margin-left: 20px;
}

.photo {
  padding: 80px 50px 20px 20px;
}
.info p {
  padding: 0 20px 40px 20px;
  font-size: 17px;
  line-height: 1.5;
}
.info h1 {
  font-size: 24px;
  color: #6f6f6f;
  padding-bottom: 20px;
}
.info h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 20px;
}
.info span {
  font-size: 20px;
}